<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
    <div class="container">
        <div class="row">
            <div class="main-center">
                <div class="bg-danger" th:if="${param.error}">
                    <strong>Invalid username or password.</strong>
                </div>
                <div class="bg-danger" th:if="${param.logout}">
                    <strong>You have been logged out.</strong>
                </div>
                <form class="form-signin" th:action="@{/index}" method="post">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" roleId="username" class="form-control" placeholder="Username" name="username"
                               id="username" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" roleId="inputPassword" class="form-control" placeholder="Password"
                               id="password" name="password" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me"/> &nbsp; Remember me
                    </div>
                    
                    <button type="submit"
                    class="btn btn-cta">
  						<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Sign In
					</button>
                    <hr />
                    <ul class="help-links">
                        <li><a data-config="" th:href="@{/signup/}">Sign Up for MavLink</a></li>
						<li><a data-config="forgotPasswordLink" target="_blank" href="https://trueyou.nebraska.edu/idm/user/login.jsp">Forgot Password?</a></li>
			            <li><a data-config="" target="_blank" href="mailto:unohelpdesk@unomaha.edu">Need Help?</a></li>
		            	<li><a data-config="" th:href="@{/courses/}">Class Search</a></li>

                    </ul>
                </form>
                
            </div>
        </div>
    </div>

<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>