<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Stock Listing</title>
<link rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.home-logo {
    margin-left: 20px;
    display: inline-block;
}
.home-text {
    display: inline-block;
    color: #fff;
    font-family: 'urwgroteskligregular';
    font-size: 1.5em;
    vertical-align: middle;
    margin-left: 10px;
}
</style>
</head>
<body>
    <header class="container" style="background-color:black; height:70px; border-bottom:4px solid red; vertical-align:middle">
        <div style="display: block;">
            <img class="img-responsive" src="/mavlink/images/logo-o-2.png" alt="banner" style="height:50px; width:48.38px" />
            <div class="home-text">MavLINK</div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <h1>Row here. Title here. Etc.</h1>
        </div>
        <div class="row">
            <p>Content maybe.</p>
        </div>
    </div>
</body>
</html>